@media screen and (max-width: 768px) {
  .about-section .columns {
    margin-top: 12px;
  }
}

.about-section > .container {
  row-gap: 3rem;
}

@media screen and (max-width: 768px) {
  .about-container {
    row-gap: 0.5rem;
  }
}
