// custom variables
$vh: 100vh;

.container {
  width: 100%;
}
.about-section {
  min-height: calc($vh - 120px);
}

.about-section > * {
  min-height: 100% !important;
}

.skills-list {
  columns: 3;
  list-style-type: none !important;
  max-width: 500px;
  // margin: 0 auto !important;
}

.flex-gap {
  gap: $vh / 20;
}