.about-section > * {
  min-height: 100% !important;
}

.skills-list {
  list-style-type: none !important;
  max-width: 500px;
}

@media screen and (min-width: 375px) {
  .skills-list {
    columns: 2;
  }
}

@media screen and (min-width: 450px) {
  .skills-list {
    columns: 3;
  }
}
