.home-container {
  row-gap: 2rem
}

img.profile-picture {
  max-width: 200px;
  width: 100%;
  border-radius: 50%;
}

.intro {
  font-size: 4rem;
}

@media screen and (max-width: 768px) {
  .intro {
    font-size: 2.5rem;
    text-align: center;
  }
}

.tagline {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .tagline {
    font-size: 2rem;
    text-align: center;
  }
}

.full-stack {
  font-weight: 900;
  color: #BE1A2C;
}