// colors
$red: #BE1A2C;

@media screen and (max-width: 1024px) {
  .navbar-menu {
    margin-right: 0 !important;
  }
}

li.navbar-item > a {
  position: relative;
}

li.navbar-item > a:hover {
  color: $red !important;
}

li.navbar-item > a.active:after {
  content: "";
  position: absolute;
  background-color: $red;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -5px;
}